In [1]:
import sys

import musicbrainzngs as m

In [2]:
import time

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
def main():
    m.set_useragent("application", "0.01", "http://example.com")
    print m.get_artist_by_id("952a4205-023d-4235-897c-6fdb6f58dfaa", [])
    #print m.get_label_by_id("aab2e720-bdd2-4565-afc2-460743585f16")
    #print m.get_release_by_id("e94757ff-2655-4690-b369-4012beba6114")
    #print m.get_release_group_by_id("9377d65d-ffd5-35d6-b64d-43f86ef9188d")
    #print m.get_recording_by_id("cb4d4d70-930c-4d1a-a157-776de18be66a")
    #print m.get_work_by_id("7e48685c-72dd-3a8b-9274-4777efb2aa75")

    #print m.get_releases_by_discid("BG.iuI50.qn1DOBAWIk8fUYoeHM-")
    #print m.get_recordings_by_puid("070359fc-8219-e62b-7bfd-5a01e742b490")
    #print m.get_recordings_by_isrc("GBAYE9300106")

    m.auth("", "")
    #m.submit_barcodes({"e94757ff-2655-4690-b369-4012beba6114": "9421021463277"})
    #m.submit_tags(recording_tags={"cb4d4d70-930c-4d1a-a157-776de18be66a":["these", "are", "my", "tags"]})
    #m.submit_tags(artist_tags={"952a4205-023d-4235-897c-6fdb6f58dfaa":["NZ", "twee"]})

    #m.submit_ratings(recording_ratings={"cb4d4d70-930c-4d1a-a157-776de18be66a":20})
    #m.submit_echoprints({"e97f805a-ab48-4c52-855e-07049142113d": "anechoprint1234567"})

if __name__ == "__main__":
    main()

{'artist': {'sort-name': 'Dynamo Go', 'name': 'Dynamo Go', 'area': {'sort-name': 'New Zealand', 'iso-3166-1-code-list': ['NZ'], 'id': '8524c7d9-f472-3890-a458-f28d5081d9c4', 'name': 'New Zealand'}, 'country': 'NZ', 'life-span': {'begin': '2005-06'}, 'type': 'Group', 'id': '952a4205-023d-4235-897c-6fdb6f58dfaa'}}

In [4]:
m.set_useragent("application", "0.01", "http://example.com")

In [54]:
df = pd.read_csv('artists.csv.gz', compression='gzip')

In [23]:
# def getInfo(id):
#     return m.get_artist_by_id(id,[])
# Info = df.artist.apply(getInfo)

In [90]:
# Info = []

In [89]:
# for i in range(2000):
#     print i,
# #     df.loc[i, 'Info'] = 1
# #     df.loc[i, 'Info'] = m.get_artist_by_id(df.artist[i],[])
#     try:
#         Info.append(m.get_artist_by_id(df.artist[i],[]))
#     except m.ResponseError:
#         print("Oops! Failed")  
#         Info.append(float('nan'))

In [94]:
df_info1 = pd.read_csv('Info0-350.csv',header=None)
df_info2 = pd.read_csv('Info350-1000.csv',header=None)
df_info3 = pd.read_csv('Info3.csv',header=None)
df_info4 = pd.read_csv('Info4.csv',header=None)

In [95]:
print(df_info1.shape)
print(df_info2.shape)
print(df_info3.shape)
print(df_info4.shape)

(350, 1)
(650, 1)
(500, 1)
(500, 1)

In [96]:
df_info1.head()

                                                   0
0  {'artist': {'name': 'Liars', 'area': {'sort-na...
1  {'artist': {'sort-name': 'CunninLynguists', 'n...
2  {'artist': {'sort-name': 'Desert Sessions, The...
3  {'artist': {'isni-list': ['0000000110269386'],...
4  {'artist': {'name': 'G. Love & Special Sauce',...

In [98]:
df_full = df_info1.append(df_info2, ignore_index=True)
print(df_full.shape)

(1000, 1)

In [99]:
df_full = df_full.append(df_info3, ignore_index=True)
df_full = df_full.append(df_info4, ignore_index=True)
print(df_full.shape)

(2000, 1)

In [101]:
df_full.head()

                                                   0
0  {'artist': {'name': 'Liars', 'area': {'sort-na...
1  {'artist': {'sort-name': 'CunninLynguists', 'n...
2  {'artist': {'sort-name': 'Desert Sessions, The...
3  {'artist': {'isni-list': ['0000000110269386'],...
4  {'artist': {'name': 'G. Love & Special Sauce',...

In [106]:
df_full=df_full.rename(columns={0:'artist_info'})
df_full.head()

                                         artist_info
0  {'artist': {'name': 'Liars', 'area': {'sort-na...
1  {'artist': {'sort-name': 'CunninLynguists', 'n...
2  {'artist': {'sort-name': 'Desert Sessions, The...
3  {'artist': {'isni-list': ['0000000110269386'],...
4  {'artist': {'name': 'G. Love & Special Sauce',...

In [112]:
df_full

                                            artist_info
0     {'artist': {'name': 'Liars', 'area': {'sort-na...
1     {'artist': {'sort-name': 'CunninLynguists', 'n...
2     {'artist': {'sort-name': 'Desert Sessions, The...
3     {'artist': {'isni-list': ['0000000110269386'],...
4     {'artist': {'name': 'G. Love & Special Sauce',...
5     {'artist': {'isni-list': ['0000000121505903'],...
6     {'artist': {'name': 'Juanes', 'area': {'sort-n...
7     {'artist': {'name': 'Summoning', 'area': {'sor...
8     {'artist': {'name': 'Gwen Stefani', 'area': {'...
9     {'artist': {'sort-name': 'Fear Factory', 'name...
10    {'artist': {'name': 'Alice in Chains', 'area':...
11    {'artist': {'name': 'Ratatat', 'area': {'sort-...
12    {'artist': {'name': 'Ignite', 'area': {'sort-n...
13    {'artist': {'name': 'The Magnetic Fields', 'ar...
14    {'artist': {'isni-list': ['0000000119557755'],...
15    {'artist': {'name': 'Ben Kweller', 'area': {'s...
16    {'artist': {'isni-list': ['0000000111355366'],...
17    {'artist': {'name': 'Saul Williams', 'area': {...
18    {'artist': {'name': 'My Bloody Valentine', 'ar...
19    {'artist': {'sort-name': '[theatre]', 'name': ...
20    {'artist': {'name': 'Hot Water Music', 'area':...
21    {'artist': {'name': 'Joss Stone', 'area': {'so...
22    {'artist': {'name': 'Evanescence', 'area': {'s...
23    {'artist': {'name': 'Stephen Lynch', 'area': {...
24    {'artist': {'name': 'Loreena McKennitt', 'area...
25    {'artist': {'name': 'Municipal Waste', 'area':...
26    {'artist': {'name': 'The Cramps', 'area': {'so...
27    {'artist': {'sort-name': 'Above & Beyond', 'na...
28    {'artist': {'name': 'RJD2', 'area': {'sort-nam...
29    {'artist': {'isni-list': ['0000000115236911'],...
...                                                 ...
1970  {'artist': {'name': 'Simon & Garfunkel', 'area...
1971  {'artist': {'name': 'Black Lips', 'area': {'so...
1972                                                NaN
1973  {'artist': {'name': 'AFX', 'area': {'sort-name...
1974  {'artist': {'name': 'Ryan Adams', 'area': {'so...
1975  {'artist': {'name': 'Set Your Goals', 'area': ...
1976  {'artist': {'sort-name': 'Puscifer', 'name': '...
1977  {'artist': {'name': 'Travis', 'area': {'sort-n...
1978  {'artist': {'name': 'Linkin Park', 'area': {'s...
1979  {'artist': {'name': u'Ces\xe1ria \xc9vora', 'a...
1980  {'artist': {'name': 'Owl City', 'area': {'sort...
1981  {'artist': {'isni-list': ['0000000115631604'],...
1982  {'artist': {'name': u'H\xe5kan Hellstr\xf6m', ...
1983  {'artist': {'name': 'Al Green', 'area': {'sort...
1984  {'artist': {'name': 'Type O Negative', 'area':...
1985  {'artist': {'isni-list': ['0000000121980931'],...
1986  {'artist': {'name': 'Parkway Drive', 'area': {...
1987  {'artist': {'name': 'Protest the Hero', 'area'...
1988  {'artist': {'sort-name': 'Seether', 'name': 'S...
1989  {'artist': {'name': 'Timbuktu', 'area': {'sort...
1990  {'artist': {'name': 'Metro Station', 'area': {...
1991  {'artist': {'isni-list': ['000000007841938X'],...
1992  {'artist': {'name': 'Kasabian', 'area': {'sort...
1993  {'artist': {'isni-list': ['0000000081888304'],...
1994  {'artist': {'name': 'Tortoise', 'area': {'sort...
1995  {'artist': {'isni-list': ['0000000121817368'],...
1996  {'artist': {'name': u'Howlin\u2019 Wolf', 'are...
1997  {'artist': {'name': u'Harry Gregson\u2010Willi...
1998  {'artist': {'name': 'Soul Coughing', 'area': {...
1999  {'artist': {'name': 'Jefferson Airplane', 'are...

[2000 rows x 1 columns]

In [120]:
type(df_full.artist_info[1972])

float

In [107]:
import ast

In [ ]:

d = ast.literal_eval(list(df_info3.loc[0])[0])

In [121]:
def convertToDict(s):
    if type(s)==float:
        return s
    return ast.literal_eval(s)

In [111]:
convertToDict(df_full.artist_info[0])

{'artist': {'area': {'id': '489ce91b-6658-3307-9877-795b68554c98',
   'iso-3166-1-code-list': ['US'],
   'name': 'United States',
   'sort-name': 'United States'},
  'begin-area': {'id': 'a71b0d32-7752-49e9-8594-2247ad6ac12c',
   'name': 'Brooklyn',
   'sort-name': 'Brooklyn'},
  'country': 'US',
  'id': '03098741-08b3-4dd7-b3f6-1b0bfa2c879c',
  'isni-list': ['0000000107254546'],
  'life-span': {'begin': '2000'},
  'name': 'Liars',
  'sort-name': 'Liars',
  'type': 'Group'}}

In [122]:
df_full['name'] = df_full.artist_info.apply(convertToDict)
df_full.head()

,artist_info,name
0,"{'artist': {'name': 'Liars', 'area': {'sort-na...","{u'artist': {u'name': u'Liars', u'area': {u'so..."
1,"{'artist': {'sort-name': 'CunninLynguists', 'n...","{u'artist': {u'name': u'CunninLynguists', u'ar..."
2,"{'artist': {'sort-name': 'Desert Sessions, The...","{u'artist': {u'sort-name': u'Desert Sessions, ..."
3,"{'artist': {'isni-list': ['0000000110269386'],...","{u'artist': {u'name': u'Glenn Gould', u'area':..."
4,"{'artist': {'name': 'G. Love & Special Sauce',...",{u'artist': {u'name': u'G. Love & Special Sauc...

In [194]:
df_full_new = df_full.copy()

In [195]:
df_full_new = df_full_new.dropna(how='any')

In [196]:
df_full_new.shape

(1989, 2)

In [197]:
df_full_new['artist_info'][0]

"{'artist': {'name': 'Liars', 'area': {'sort-name': 'United States', 'iso-3166-1-code-list': ['US'], 'id': '489ce91b-6658-3307-9877-795b68554c98', 'name': 'United States'}, 'country': 'US', 'life-span': {'begin': '2000'}, 'isni-list': ['0000000107254546'], 'begin-area': {'sort-name': 'Brooklyn', 'id': 'a71b0d32-7752-49e9-8594-2247ad6ac12c', 'name': 'Brooklyn'}, 'sort-name': 'Liars', 'type': 'Group', 'id': '03098741-08b3-4dd7-b3f6-1b0bfa2c879c'}}"

In [198]:
def extractArtistName(d):
    return d['artist'].get('name')

def extractArtistSortName(d):
    return d['artist'].get('sort-name')

def extractArtistType(d):
    return d['artist'].get('type')

def extractArtistID(d):
    return d['artist'].get('id')

def extractArtistCountry(d):
    return d['artist'].get('country')

def extractArtistLifeBegin(d):
    if d['artist'].get('life-span') is not None:
        return d['artist']['life-span'].get('begin')
    return 

def extractArtistLifeEnd(d):
    if d['artist'].get('life-span') is not None:
        return d['artist']['life-span'].get('end')
    return 

def extractArtistIsni_list(d):
    if d['artist'].get('isni-list') is not None:
        return d['artist'].get('isni-list')[0]
    return 

def extractAreaName(d):
    if d['artist'].get('area') is not None:
        return d['artist']['area'].get('name')
    return 

def extractAreaSortName(d):
    if d['artist'].get('area') is not None:
        return d['artist']['area'].get('sort-name')
    return 

def extractAreaISO(d):
    if d['artist'].get('area') is not None:
        if d['artist'].get('area').get('iso-3166-1-code-list') is not None:
            return d['artist']['area'].get('iso-3166-1-code-list')[0]
    return 

def extractAreaID(d):
    if d['artist'].get('area') is not None:
        return d['artist']['area'].get('id')
    return 

def extractBeginAreaName(d):
    if d['artist'].get('begin-area') is not None:
        return d['artist']['begin-area'].get('name')
    return 

def extractBeginAreaSortName(d):
    if d['artist'].get('begin-area') is not None:
        return d['artist']['begin-area'].get('sort-name')
    return 

def extractBeginAreaID(d):
    if d['artist'].get('begin-area') is not None:
        return d['artist']['begin-area'].get('id')
    return

In [199]:
featureList = ['ArtistName', 'ArtistSortName', 'ArtistType', 'ArtistID', 'ArtistCountry', 'ArtistLifeBegin', 'ArtistLifeEnd','ArtistIsni_list', 'AreaName','AreaSortName',
              'AreaISO','AreaID', 'BeginAreaName', 'BeginAreaSortName','BeginAreaID']

In [200]:
df_full_new.head()

,artist_info,name
0,"{'artist': {'name': 'Liars', 'area': {'sort-na...","{u'artist': {u'name': u'Liars', u'area': {u'so..."
1,"{'artist': {'sort-name': 'CunninLynguists', 'n...","{u'artist': {u'name': u'CunninLynguists', u'ar..."
2,"{'artist': {'sort-name': 'Desert Sessions, The...","{u'artist': {u'sort-name': u'Desert Sessions, ..."
3,"{'artist': {'isni-list': ['0000000110269386'],...","{u'artist': {u'name': u'Glenn Gould', u'area':..."
4,"{'artist': {'name': 'G. Love & Special Sauce',...",{u'artist': {u'name': u'G. Love & Special Sauc...

In [201]:
for f in featureList:
    df_full_new[f] = df_full_new['name'].apply(eval('extract'+f))

df_full_new.head()

,artist_info,name,ArtistName,ArtistSortName,ArtistType,ArtistID,ArtistCountry,ArtistLifeBegin,ArtistLifeEnd,ArtistIsni_list,AreaName,AreaSortName,AreaISO,AreaID,BeginAreaName,BeginAreaSortName,BeginAreaID
0,"{'artist': {'name': 'Liars', 'area': {'sort-na...","{u'artist': {u'name': u'Liars', u'area': {u'so...",Liars,Liars,Group,03098741-08b3-4dd7-b3f6-1b0bfa2c879c,US,2000,None,0000000107254546,United States,United States,US,489ce91b-6658-3307-9877-795b68554c98,Brooklyn,Brooklyn,a71b0d32-7752-49e9-8594-2247ad6ac12c
1,"{'artist': {'sort-name': 'CunninLynguists', 'n...","{u'artist': {u'name': u'CunninLynguists', u'ar...",CunninLynguists,CunninLynguists,Group,69c4cc43-8163-41c5-ac81-30946d27bb69,US,2000-03,None,None,United States,United States,US,489ce91b-6658-3307-9877-795b68554c98,None,None,None
2,"{'artist': {'sort-name': 'Desert Sessions, The...","{u'artist': {u'sort-name': u'Desert Sessions, ...",The Desert Sessions,"Desert Sessions, The",Group,7a2e6b55-f149-4e74-be6a-30a1b1a387bb,None,1997-08,None,None,None,None,None,None,None,None,None
3,"{'artist': {'isni-list': ['0000000110269386'],...","{u'artist': {u'name': u'Glenn Gould', u'area':...",Glenn Gould,"Gould, Glenn",Person,7002bf88-1269-4965-a772-4ba1e7a91eaa,CA,1932-09-25,1982-10-04,0000000110269386,Canada,Canada,CA,71bbafaa-e825-3e15-8ca9-017dcad1748b,Toronto,Toronto,74b24e62-d2fe-42d2-9d96-31f2da756c77
4,"{'artist': {'name': 'G. Love & Special Sauce',...",{u'artist': {u'name': u'G. Love & Special Sauc...,G. Love & Special Sauce,G. Love & Special Sauce,Group,dbf7c761-e332-467b-b4d9-aafe06bbcf8f,US,1992,None,000000009078593X,United States,United States,US,489ce91b-6658-3307-9877-795b68554c98,Philadelphia,Philadelphia,0eeb01c2-6e31-46ad-96b8-319749f731d2

In [193]:
df_full_new.iloc[:,2:].AreaID[3]

'71bbafaa-e825-3e15-8ca9-017dcad1748b'

In [202]:
df_features = df_full_new.iloc[:,2:]

In [204]:
df_features.head()

,ArtistName,ArtistSortName,ArtistType,ArtistID,ArtistCountry,ArtistLifeBegin,ArtistLifeEnd,ArtistIsni_list,AreaName,AreaSortName,AreaISO,AreaID,BeginAreaName,BeginAreaSortName,BeginAreaID
0,Liars,Liars,Group,03098741-08b3-4dd7-b3f6-1b0bfa2c879c,US,2000,None,0000000107254546,United States,United States,US,489ce91b-6658-3307-9877-795b68554c98,Brooklyn,Brooklyn,a71b0d32-7752-49e9-8594-2247ad6ac12c
1,CunninLynguists,CunninLynguists,Group,69c4cc43-8163-41c5-ac81-30946d27bb69,US,2000-03,None,None,United States,United States,US,489ce91b-6658-3307-9877-795b68554c98,None,None,None
2,The Desert Sessions,"Desert Sessions, The",Group,7a2e6b55-f149-4e74-be6a-30a1b1a387bb,None,1997-08,None,None,None,None,None,None,None,None,None
3,Glenn Gould,"Gould, Glenn",Person,7002bf88-1269-4965-a772-4ba1e7a91eaa,CA,1932-09-25,1982-10-04,0000000110269386,Canada,Canada,CA,71bbafaa-e825-3e15-8ca9-017dcad1748b,Toronto,Toronto,74b24e62-d2fe-42d2-9d96-31f2da756c77
4,G. Love & Special Sauce,G. Love & Special Sauce,Group,dbf7c761-e332-467b-b4d9-aafe06bbcf8f,US,1992,None,000000009078593X,United States,United States,US,489ce91b-6658-3307-9877-795b68554c98,Philadelphia,Philadelphia,0eeb01c2-6e31-46ad-96b8-319749f731d2

In [ ]:
g = df.columns.to_series().groupby(df.dtypes).groups

In [208]:
df_features.dtypes

ArtistName           object
ArtistSortName       object
ArtistType           object
ArtistID             object
ArtistCountry        object
ArtistLifeBegin      object
ArtistLifeEnd        object
ArtistIsni_list      object
AreaName             object
AreaSortName         object
AreaISO              object
AreaID               object
BeginAreaName        object
BeginAreaSortName    object
BeginAreaID          object
dtype: object

In [210]:
df_features.row.to_series().groupby(df_features.dtypes).groups

AttributeError: 'DataFrame' object has no attribute 'row'

In [212]:
df_features.to_pickle('artist_features.csv')

In [215]:
df_full_new.to_pickle('artist_full_info.csv')

In [216]:
pd.read_pickle('artist_full_info.csv').head()

,artist_info,name,ArtistName,ArtistSortName,ArtistType,ArtistID,ArtistCountry,ArtistLifeBegin,ArtistLifeEnd,ArtistIsni_list,AreaName,AreaSortName,AreaISO,AreaID,BeginAreaName,BeginAreaSortName,BeginAreaID
0,"{'artist': {'name': 'Liars', 'area': {'sort-na...","{u'artist': {u'name': u'Liars', u'area': {u'so...",Liars,Liars,Group,03098741-08b3-4dd7-b3f6-1b0bfa2c879c,US,2000,None,0000000107254546,United States,United States,US,489ce91b-6658-3307-9877-795b68554c98,Brooklyn,Brooklyn,a71b0d32-7752-49e9-8594-2247ad6ac12c
1,"{'artist': {'sort-name': 'CunninLynguists', 'n...","{u'artist': {u'name': u'CunninLynguists', u'ar...",CunninLynguists,CunninLynguists,Group,69c4cc43-8163-41c5-ac81-30946d27bb69,US,2000-03,None,None,United States,United States,US,489ce91b-6658-3307-9877-795b68554c98,None,None,None
2,"{'artist': {'sort-name': 'Desert Sessions, The...","{u'artist': {u'sort-name': u'Desert Sessions, ...",The Desert Sessions,"Desert Sessions, The",Group,7a2e6b55-f149-4e74-be6a-30a1b1a387bb,None,1997-08,None,None,None,None,None,None,None,None,None
3,"{'artist': {'isni-list': ['0000000110269386'],...",{u'artist': {u'isni-list': [u'0000000110269386...,Glenn Gould,"Gould, Glenn",Person,7002bf88-1269-4965-a772-4ba1e7a91eaa,CA,1932-09-25,1982-10-04,0000000110269386,Canada,Canada,CA,71bbafaa-e825-3e15-8ca9-017dcad1748b,Toronto,Toronto,74b24e62-d2fe-42d2-9d96-31f2da756c77
4,"{'artist': {'name': 'G. Love & Special Sauce',...",{u'artist': {u'name': u'G. Love & Special Sauc...,G. Love & Special Sauce,G. Love & Special Sauce,Group,dbf7c761-e332-467b-b4d9-aafe06bbcf8f,US,1992,None,000000009078593X,United States,United States,US,489ce91b-6658-3307-9877-795b68554c98,Philadelphia,Philadelphia,0eeb01c2-6e31-46ad-96b8-319749f731d2

##  Handling Features

In [6]:
import sklearn.preprocessing as Preprocessing

In [7]:
df_train = pd.read_csv('train.csv.gz', compression='gzip')
df_train.head()

,user,artist,plays
0,eb1c57ddc9e0e2d005169d3a1a96e8dd95e3af03,5a8e07d5-d932-4484-a7f7-e700793a9c94,554
1,44ce793a6cd9d20f13f4a576a818ef983314bb5d,a3a92047-be1c-4f3e-8960-c4f8570984df,81
2,da9cf3f557161d54b76f24db64be9cc76db008e3,eeb1195b-f213-4ce1-b28c-8565211f8e43,708
3,8fa49ab25d425edcf05d44bfc1d5aea895287d81,a1419808-65d3-4d40-998c-1a0bac65eabc,265
4,b85fcaef67d2669cd99b334b5e8c8705263db2cf,a3cb23fc-acd3-4ce0-8f36-1e5aa6a18432,220

In [8]:
df_train.shape

(4154804, 3)

In [9]:
# df_test = pd.read_csv('test.csv.gz', compression='gzip')
# df_test.head()

In [10]:
# df_test.shape

In [11]:
df_user = pd.read_csv('profiles.csv.gz', compression='gzip')

In [12]:
df_user.head()

                                       user sex   age        country
0  fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d   f  25.0         Sweden
1  5909125332c108365a26ccf0ee62636eee08215c   m  29.0        Iceland
2  d1867cbda35e0d48e9a8390d9f5e079c9d99ea96   m  30.0  United States
3  63268cce0d68127729890c1691f62d5be5abd87c   m  21.0        Germany
4  02871cd952d607ba69b64e2e107773012c708113   m  24.0    Netherlands

In [13]:
df_user.shape

(233286, 4)

In [14]:
df_artist = pd.read_pickle('artist_features.csv')
df_artist.shape

(1989, 15)

In [15]:
# df_artist_new = pd.read_pickle('artist_features_new.csv')
# df_artist_new.shape

In [16]:
# map the users
# based on the user id in df_train, find the correspondent sex, age, and country in df_user, and that to df_train

In [17]:
df_map = df_train.copy()

In [18]:
#df_map.set_index('user').join(df_user.set_index('user'))

In [19]:
df_map = df_map.join(df_user.set_index('user'), on='user')

In [20]:
df_map.head()

,user,artist,plays,sex,age,country
0,eb1c57ddc9e0e2d005169d3a1a96e8dd95e3af03,5a8e07d5-d932-4484-a7f7-e700793a9c94,554,m,25.0,Sweden
1,44ce793a6cd9d20f13f4a576a818ef983314bb5d,a3a92047-be1c-4f3e-8960-c4f8570984df,81,f,23.0,United Kingdom
2,da9cf3f557161d54b76f24db64be9cc76db008e3,eeb1195b-f213-4ce1-b28c-8565211f8e43,708,m,NaN,Netherlands
3,8fa49ab25d425edcf05d44bfc1d5aea895287d81,a1419808-65d3-4d40-998c-1a0bac65eabc,265,m,23.0,United Kingdom
4,b85fcaef67d2669cd99b334b5e8c8705263db2cf,a3cb23fc-acd3-4ce0-8f36-1e5aa6a18432,220,NaN,NaN,Netherlands

In [21]:
df_map = df_map.rename(columns={'sex':'user_sex', 'age':'user_age', 'country':'user_country'})
df_map.head()

,user,artist,plays,user_sex,user_age,user_country
0,eb1c57ddc9e0e2d005169d3a1a96e8dd95e3af03,5a8e07d5-d932-4484-a7f7-e700793a9c94,554,m,25.0,Sweden
1,44ce793a6cd9d20f13f4a576a818ef983314bb5d,a3a92047-be1c-4f3e-8960-c4f8570984df,81,f,23.0,United Kingdom
2,da9cf3f557161d54b76f24db64be9cc76db008e3,eeb1195b-f213-4ce1-b28c-8565211f8e43,708,m,NaN,Netherlands
3,8fa49ab25d425edcf05d44bfc1d5aea895287d81,a1419808-65d3-4d40-998c-1a0bac65eabc,265,m,23.0,United Kingdom
4,b85fcaef67d2669cd99b334b5e8c8705263db2cf,a3cb23fc-acd3-4ce0-8f36-1e5aa6a18432,220,NaN,NaN,Netherlands

In [22]:
df_map.shape

(4154804, 6)

In [23]:
#df_join1 = df_map.join(df_artist.set_index('ArtistID'), on='artist')
df_join2 = df_map.join(df_artist.set_index('ArtistID'), on='artist')

In [24]:
#print(df_join1.shape)
print(df_join2.shape)

(4162466, 20)

In [25]:
# c1 = set(df_join2.user.values)
# c2 = set(df_train.user.values)
# c1-c2

In [26]:
# len(set(df_join2.artist.values))

In [27]:
# len(set(df_train.artist.values))

In [28]:
df_join2= df_join2.drop_duplicates(keep='first')
df_join2.shape

(4154804, 20)

In [29]:
#one hot coding
new_feature = df_join2[['user_sex','user_age','user_country','ArtistType','ArtistCountry', 'ArtistLifeBegin','BeginAreaName']]

In [30]:
new_feature = new_feature.where((pd.notnull(new_feature)), None)

In [31]:
new_feature.head()

,user_sex,user_age,user_country,ArtistType,ArtistCountry,ArtistLifeBegin,BeginAreaName
0,m,25,Sweden,Person,SE,1979-06-12,Stockholm
1,f,23,United Kingdom,Group,GB,2001,Wakefield
2,m,None,Netherlands,Group,US,1985-03,Los Angeles
3,m,23,United Kingdom,Group,US,1994,Omaha
4,None,None,Netherlands,Group,IE,1976,Dublin

In [34]:
np.unique(new_feature['user_country'])

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Bouvet Island',
       'Brazil', 'British Indian Ocean Territory', 'Brunei Darussalam',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia',
       'Comoros', 'Congo', 'Congo, the Democratic Republic of the',
       'Cook Islands', 'Costa Rica', "Cote D'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
       'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland',
       'France', 'French Guiana', 'French Polynesia',
       'French Southern Territories', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Heard Island and Mcdonald Islands',
       'Holy See (Vatican City State)', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Republic of',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Democratic People's Republic of", 'Korea, Republic of',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libyan Arab Jamahiriya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Macedonia',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia, Federated States of', 'Moldova',
       'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'Netherlands Antilles', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norfolk Island',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestinian Territory, Occupied', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russian Federation',
       'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Georgia and the South Sandwich Islands',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Svalbard and Jan Mayen',
       'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'Taiwan', 'Tajikistan', 'Tanzania, United Republic of', 'Thailand',
       'Timor-Leste', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States',
       'United States Minor Outlying Islands', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Viet Nam', 'Virgin Islands, British',
       'Virgin Islands, U.s.', 'Wallis and Futuna', 'Western Sahara',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [35]:
np.sqrt(233286)

482.99689439995365

In [ ]:
# STEP 3: Encode categorical variables using sklearn's one-hot encoder
def encode_categorical(array):
    if not array.dtype == np.dtype('float64'):
        return Preprocessing.LabelEncoder().fit_transform(array) 
    else:
        return array
    
# Categorical columns for use in one-hot encoder
categorical = (new_feature.dtypes.values != np.dtype('float64'))

# Encode all labels
new_feature = new_feature.apply(encode_categorical)

# Get numpy array from data
x = new_feature.as_matrix()

# Apply one hot endcoing
encoder = Preprocessing.OneHotEncoder(categorical_features=categorical, sparse=False)  # Last value in mask is y
x = encoder.fit_transform(x)

In [30]:
x

array([[ 0.,  0.,  1., ...,  0.,  0.,  0.],
       [ 0.,  1.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  1., ...,  0.,  0.,  0.],
       ...,
       [ 1.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  1., ...,  0.,  0.,  0.],
       [ 0.,  0.,  1., ...,  0.,  0.,  0.]])

In [31]:
y = df_join2['plays'].values
y

array([ 554,   81,  708, ...,   27, 1205,  553])

In [32]:
x.shape

(4154804, 1280)

In [33]:
y.shape

(4154804,)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
RF= RandomForestRegressor()
RF.fit(x, y)

In [ ]:
# y_pred = RF.predict(test_x)
# y_pred_prob = RF.predict_proba(test_x)
y_score = RF.score(test_x,test_y)
print y_score

In [95]:
# df_join[df_join['ArtistName'].isnull()==True ]

,user,artist,plays,user_sex,user_age,user_country,ArtistName,ArtistSortName,ArtistType,ArtistCountry,ArtistLifeBegin,ArtistLifeEnd,ArtistIsni_list,AreaName,AreaSortName,AreaISO,AreaID,BeginAreaName,BeginAreaSortName,BeginAreaID
906,dc71e11dc52734f5bfa611dad3c087d66582c9c7,ae681605-2801-4120-9a48-e18752042306,100,m,27.0,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
969,c329b5a6b3c81e440c9f4c187530c9c086f3ecc8,68f1175b-592b-4f28-ab1c-85c7a438c636,196,NaN,NaN,Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1149,6014042d728d9d50839a9b12a7e841c5cdee131a,d7311646-287b-4d3a-9a4f-7d46f93075e5,129,f,21.0,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1152,2eb9e8cb8ed041279beacda6636952afd03c0f01,5aca3051-afa2-4f5c-9974-cc9418482a58,67,m,26.0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1289,b433c7cd783f7c7c800b872e434e8775ab8c7285,183105b5-3e68-4748-9086-2c1c11bf7a3d,37,m,24.0,Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1465,d97e39c9bf8b2321516741531d02fcb36ff48dee,183105b5-3e68-4748-9086-2c1c11bf7a3d,239,m,18.0,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2144,f7373c7cfd056d61320fa7259b8b5baaef0d3ddd,a871fd87-50f7-4032-b06d-da56779edcce,12,f,28.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228,4aa6588b96282d066272fb4fcce838565fa401d2,5adb8b74-54b8-4700-836e-550b6a2a2f71,139,m,20.0,New Zealand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2254,9a3c1ce923497fdd9998db20bdd92beb46a80ec7,5adb8b74-54b8-4700-836e-550b6a2a2f71,28,m,19.0,Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2527,bad0a7b04a99102b3e958cdf852886c54d84cf60,5adb8b74-54b8-4700-836e-550b6a2a2f71,165,f,23.0,New Zealand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2629,54cd09eabced231d841cb6a9863555ff0c4961d0,b09bcf6d-3a27-4fd5-8300-f42f51a80446,263,f,17.0,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2837,112795173ef38dc4b4a7b6839ea565f8b93e17b0,afe409c2-57f1-45fe-9140-50cbccd88223,198,m,23.0,Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2995,9ac05c229a5ae5333571744ff2a5bd44073f0352,183105b5-3e68-4748-9086-2c1c11bf7a3d,310,f,23.0,Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3084,af4fa079762117675441d27a462b9551ea6c1808,afe409c2-57f1-45fe-9140-50cbccd88223,192,m,21.0,Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3106,1c6aae770ff6f500414f84468495c2a64255a256,e9aed5e5-ed35-4244-872e-194862290295,44,m,17.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3323,d308a8935233295faac4c3b74d6e0320595f4733,8bf9b24b-e802-4ab6-b342-b348e20b58d4,82,m,21.0,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3446,d9d7fecaa4e753e4459208a4b2e01f3e572dc370,c3171463-d55c-4140-ad06-dbdac29c508c,259,m,21.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3492,bf26ed864589c5d3df5b58d72b993cc3cbe6b82f,64b86e99-b6ec-4fb1-a5cd-f95482d3b57a,96,f,28.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3553,803ba2896d01d0c43c108a9e88657105e87b97fb,a871fd87-50f7-4032-b06d-da56779edcce,80,m,26.0,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3630,d3e2b189f3f56059f81e93ccb2668f1c95624499,c3171463-d55c-4140-ad06-dbdac29c508c,273,m,20.0,Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3639,ae957ec5f7bc96450c5e362220030838ee5eb066,d6bd72bc-b1e2-4525-92aa-0f853cbb41bf,38,f,13.0,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3708,164f1d09709e77159f64c960e522398c961569e4,5aca3051-afa2-4f5c-9974-cc9418482a58,61,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3795,32f1ad473888b940e27b9cb4267a1f8ef71d2055,183105b5-3e68-4748-9086-2c1c11bf7a3d,25,m,NaN,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3815,3450e8c7d8e71b4b6f24d6780d4aa1768f99282d,d6bd72bc-b1e2-4525-92aa-0f853cbb41bf,291,m,NaN,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3881,99da1b09f732e8ecf6c36e889eca67417c29c6e9,d7311646-287b-4d3a-9a4f-7d46f93075e5,75,f,33.0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3960,bc9041baf80f26b915471e4534a5c545a8a93728,a871fd87-50f7-4032-b06d-da56779edcce,28,f,27.0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,cf2f645713ced8599ba7212f68ef8734b2365c4b,9bf79f68-c064-44a1-8c2c-5764f1d7c016,396,m,21.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4270,a4c186e5f39621d242f34858754b036194ff044f,8bf9b24b-e802-4ab6-b342-b348e20b58d4,610,f,23.0,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4370,c6ac78a84d1159da502184ae2ab350b8c9ebb72b,183105b5-3e68-4748-9086-2c1c11bf7a3d,94,m,22.0,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4372,a90967f3d1ca1e297fb376d56b6357e9fd126de1,3771a9d7-2da9-43e2-b4d7-9ef8e644b649,384,f,22.0,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4151756,c6641b29277972d9933509385f078485e7b2ffe5,ae681605-2801-4120-9a48-e18752042306,137,NaN,23.0,Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4151908,ba5fd9e30fd1c29ee8b8aca19f935174b2b3296b,d7311646-287b-4d3a-9a4f-7d46f93075e5,28,m,15.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4152038,6ffb65c8d04aef2f773ff5975b78214dab3be901,4b179fe2-dfa5-40b1-b6db-b56dbc3b5f09,384,f,20.0,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4152175,e790e4515d2448ad05129e34194fe5d0353217ff,9701356d-08d9-45ba-975d-977ab466e7be,702,f,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4152237,5a11a00c536369223168d996a28067cc170a0a67,ae681605-2801-4120-9a48-e18752042306,68,m,22.0,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4152264,973c98232191d2cdf90630075150ab91002ea11a,9701356d-08d9-45ba-975d-977ab466e7be,28,m,20.0,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4152342,3ce15218df591c87cc7572e4f843c01d46d8b340,183105b5-3e68-4748-9086-2c1c11bf7a3d,174,f,26.0,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4152575,57e3a37dc421b540daeab40f9ed64bf2ca5d76c7,5aca3051-afa2-4f5c-9974-cc9418482a58,49,f,22.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4152603,b082a5d51c8a17d436bec03aa92cffbdffd3898a,183105b5-3e68-4748-9086-2c1c11bf7a3d,32,m,35.0,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4152624,bc50be1a2e78255e44bceb671db62d7744bb98db,183105b5-3e68-4748-9086-2c1c11bf7a3d,145,f,19.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4152649,1a0c8665a969e45279365db4ccd148e467485a2f,a871fd87-50f7-4032-b06d-da56779edcce,263,f,21.0,Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4152681,5853e4048f44b91e12738b46b94b6ab50958b38a,5adb8b74-54b8-4700-836e-550b6a2a2f71,26,m,NaN,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4152692,e573865bdfbfa313ef29bb26c0d60de3686fa3fc,64b86e99-b6ec-4fb1-a5cd-f95482d3b57a,163,m,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4152886,5f6867a8cba787044e32da68342964aba9711752,d7311646-287b-4d3a-9a4f-7d46f93075e5,56,m,25.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4152989,07e182dac3a092f61bb49b6c0f62d30fdb4ba95e,10b7b68c-390d-469a-915b-40bac704f288,109,f,NaN,Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4152996,3430724cbc1c166c286f4206f2306c6e563a3b23,d6bd72bc-b1e2-4525-92aa-0f853cbb41bf,52,m,59.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4153006,9fd43ae6b3a41c90cdbfb0d479d9c7365de819d2,8bf9b24b-e802-4ab6-b342-b348e20b58d4,55,m,21.0,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4153586,18c562719dbc0adf01e9027ba386c146700eb934,4b179fe2-dfa5-40b1-b6db-b56dbc3b5f09,37,f,23.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4153620,7227c0f592f7ecb81f34cb62a18eedd51198b8e5,d7311646-287b-4d3a-9a4f-7d46f93075e5,660,f,NaN,Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4153846,64bef8d75dd458672b407f0b1e61a1cea07e5ed0,d6bd72bc-b1e2-4525-92aa-0f853cbb41bf,29,f,NaN,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4153850,19c9fb9ca7a83e38e2526b73410c78d8d4731b34,68f1175b-592b-4f28-ab1c-85c7a438c636,771,f,22.0,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4153923,09854c0ba4d691a5516e82f1b506a16ae0a6b5ce,9701356d-08d9-45ba-975d-977ab466e7be,668,f,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4153989,ad12f1a9d9813dc79d6e02a7c3cb4f2fcc896d68,e9aed5e5-ed35-4244-872e-194862290295,49,m,21.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4154141,a564fdd7ac36a94a3e6c1a0d68b27a9ca9c5a9dc,5adb8b74-54b8-4700-836e-550b6a2a2f71,366,m,25.0,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4154537,045ed746cbd0abe68ee3e7c5a36626d7c13dc40e,10b7b68c-390d-469a-915b-40bac704f288,23,f,NaN,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4154604,554c21a61bf5e8c8c410c67ca2064d3fa7bf55ae,d6bd72bc-b1e2-4525-92aa-0f853cbb41bf,136,f,20.0,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4154618,ca89d44f6d8997bc6a30cce47cd8c13f8e8ac06c,5adb8b74-54b8-4700-836e-550b6a2a2f71,69,m,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4154674,e5312f66ec1932963fa996de4954ef9d1394f94c,5aca3051-afa2-4f5c-9974-cc9418482a58,104,f,21.0,Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4154747,7d1b6c8dd26a9c08629ff3d0da53c6cc981a58b8,5aca3051-afa2-4f5c-9974-cc9418482a58,21,f,18.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4154800,42fad611d5d5eb98253448c9b7f1ccfd79353fb4,5adb8b74-54b8-4700-836e-550b6a2a2f71,478,m,21.0,Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# MULTINOMIAL LOGIT

In [39]:
from statsmodels.discrete.discrete_model import MNLogit

In [41]:
logitdata = pd.read_csv("CarPrefExp.csv")

In [42]:
logitdata

   Gender    Size  Not.Important  Little.Importance  Important  Very.Important
0  Female   Large             12                 18         18               2
1  Female  Medium             12                 20         12               6
2  Female   Small             12                 12         17               9
3    Male   Large             17                 16         15               2
4    Male  Medium             15                 19         14               2
5    Male   Small             13                 22         11               4

In [50]:
X = logitdata.iloc[:,:2]
X = X.values

In [51]:
Y = logitdata.iloc[:, 2:]
Y = Y.values

In [61]:
import statsmodels.api as st
iris = st.datasets.get_rdataset('iris','datasets')
y = iris.data.Species
x = iris.data.ix[:, 0:4]
x = st.add_constant(x, prepend = False)
mdl = st.MNLogit(y, x)
mdl_fit = mdl.fit(method='bfgs')
print (mdl_fit.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.057112
         Iterations: 35
         Function evaluations: 37
         Gradient evaluations: 37
                          MNLogit Regression Results
==============================================================================
Dep. Variable:                Species   No. Observations:                  150
Model:                        MNLogit   Df Residuals:                      140
Method:                           MLE   Df Model:                            8
Date:                Mon, 03 Apr 2017   Pseudo R-squ.:                  0.9480
Time:                        22:45:01   Log-Likelihood:                -8.5668
converged:                      False   LL-Null:                       -164.79
                                        LLR p-value:                 9.200e-63
=====================================================================================
Species=versicolor       coef    std err          z      P>|z|      [95.0% Conf. Int.]
--------------------------------------------------------------------------------------
Sepal.Length          -1.4959    444.817     -0.003      0.997      -873.321   870.330
Sepal.Width           -8.0560    282.766     -0.028      0.977      -562.267   546.155
Petal.Length          11.9301    374.116      0.032      0.975      -721.324   745.184
Petal.Width            1.7039    759.366      0.002      0.998     -1486.627  1490.035
const                  1.6444   1550.515      0.001      0.999     -3037.309  3040.597
--------------------------------------------------------------------------------------
Species=virginica       coef    std err          z      P>|z|      [95.0% Conf. Int.]
-------------------------------------------------------------------------------------
Sepal.Length         -8.0348    444.835     -0.018      0.986      -879.896   863.827
Sepal.Width         -15.8195    282.793     -0.056      0.955      -570.083   538.444
Petal.Length         22.1797    374.155      0.059      0.953      -711.152   755.511
Petal.Width          14.0603    759.384      0.019      0.985     -1474.304  1502.425
const                -6.5053   1550.533     -0.004      0.997     -3045.493  3032.483
=====================================================================================

/Users/ruizhao/anaconda2/lib/python2.7/site-packages/statsmodels/base/model.py:466: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [58]:
x

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  const
0             5.1          3.5           1.4          0.2      1
1             4.9          3.0           1.4          0.2      1
2             4.7          3.2           1.3          0.2      1
3             4.6          3.1           1.5          0.2      1
4             5.0          3.6           1.4          0.2      1
5             5.4          3.9           1.7          0.4      1
6             4.6          3.4           1.4          0.3      1
7             5.0          3.4           1.5          0.2      1
8             4.4          2.9           1.4          0.2      1
9             4.9          3.1           1.5          0.1      1
10            5.4          3.7           1.5          0.2      1
11            4.8          3.4           1.6          0.2      1
12            4.8          3.0           1.4          0.1      1
13            4.3          3.0           1.1          0.1      1
14            5.8          4.0           1.2          0.2      1
15            5.7          4.4           1.5          0.4      1
16            5.4          3.9           1.3          0.4      1
17            5.1          3.5           1.4          0.3      1
18            5.7          3.8           1.7          0.3      1
19            5.1          3.8           1.5          0.3      1
20            5.4          3.4           1.7          0.2      1
21            5.1          3.7           1.5          0.4      1
22            4.6          3.6           1.0          0.2      1
23            5.1          3.3           1.7          0.5      1
24            4.8          3.4           1.9          0.2      1
25            5.0          3.0           1.6          0.2      1
26            5.0          3.4           1.6          0.4      1
27            5.2          3.5           1.5          0.2      1
28            5.2          3.4           1.4          0.2      1
29            4.7          3.2           1.6          0.2      1
..            ...          ...           ...          ...    ...
120           6.9          3.2           5.7          2.3      1
121           5.6          2.8           4.9          2.0      1
122           7.7          2.8           6.7          2.0      1
123           6.3          2.7           4.9          1.8      1
124           6.7          3.3           5.7          2.1      1
125           7.2          3.2           6.0          1.8      1
126           6.2          2.8           4.8          1.8      1
127           6.1          3.0           4.9          1.8      1
128           6.4          2.8           5.6          2.1      1
129           7.2          3.0           5.8          1.6      1
130           7.4          2.8           6.1          1.9      1
131           7.9          3.8           6.4          2.0      1
132           6.4          2.8           5.6          2.2      1
133           6.3          2.8           5.1          1.5      1
134           6.1          2.6           5.6          1.4      1
135           7.7          3.0           6.1          2.3      1
136           6.3          3.4           5.6          2.4      1
137           6.4          3.1           5.5          1.8      1
138           6.0          3.0           4.8          1.8      1
139           6.9          3.1           5.4          2.1      1
140           6.7          3.1           5.6          2.4      1
141           6.9          3.1           5.1          2.3      1
142           5.8          2.7           5.1          1.9      1
143           6.8          3.2           5.9          2.3      1
144           6.7          3.3           5.7          2.5      1
145           6.7          3.0           5.2          2.3      1
146           6.3          2.5           5.0          1.9      1
147           6.5          3.0           5.2          2.0      1
148           6.2          3.4           5.4          2.3      1
149           5.9          3.0           5.1          1.8      1

[150 rows x 5 columns]

In [62]:
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
5         setosa
6         setosa
7         setosa
8         setosa
9         setosa
10        setosa
11        setosa
12        setosa
13        setosa
14        setosa
15        setosa
16        setosa
17        setosa
18        setosa
19        setosa
20        setosa
21        setosa
22        setosa
23        setosa
24        setosa
25        setosa
26        setosa
27        setosa
28        setosa
29        setosa
         ...
120    virginica
121    virginica
122    virginica
123    virginica
124    virginica
125    virginica
126    virginica
127    virginica
128    virginica
129    virginica
130    virginica
131    virginica
132    virginica
133    virginica
134    virginica
135    virginica
136    virginica
137    virginica
138    virginica
139    virginica
140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, dtype: object

In [64]:
mdl = st.MNLogit(Y, x[0:6, :])
mdl_fit = mdl.fit(method='bfgs')
print (mdl_fit.summary())

TypeError: unhashable type